body {
  padding: 0;
  margin: 0;
  background-color: #f1f1f1;
}
h1,h2,h3,h4,h5,h6,p {
  margin: 0;
  padding: 0;
}
* {
  box-sizing: border-box;
}
.relative {
  position: relative;
}
.text-center {
  text-align: center;
}
.mt10 {
  margin-top: 10px;
}
.mb10 {
  margin-bottom: 10px;
}
.flex {
  display: flex;
}
.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
.flex-between {
  display: flex;
  justify-content: space-between;
}
.flex-end {
  align-items: flex-end;
}

button {
  text-transform: uppercase;
  cursor: pointer;
  background-color: yellow;
  color: black;
  border: none;
  padding: 10px 15px;
}
